*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
    /* width: 100%;
    height: 100%; */
    
}

body{
  
    background: rgb(30, 30, 30);
    color: white;
    /* background-color: white;
    color: black; */
    overflow: hidden;
    overflow-y: scroll;
    
}

.heading{
    font-size: 2.3rem;
    text-align: center;
    text-decoration: underline 3px rgb(115, 114, 114);
    text-underline-offset: 6px;
    color: white !important;
}

.highlight{
    color: rgb(0, 255, 255);
}

/* .large-text{
    font-size: 1.9vw;
} */

.large-text {
    font-size: 1.5em; /* Adjust this size as needed */
}